  <div class="modal-header">
    <h3 class="modal-title text-info">Guide Video</h3>
    <button mat-flat-button (click)="close()" class="text-danger">
        <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/vlJ5lLsUxJo?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <!-- <iframe width="560" height="315"  src="https://www.youtube.com/watch?v=vlJ5lLsUxJo//www.youtube.com/embed/a-9Dxs-4qok?autoplay=1" class="embed-responsive-item" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
    </div>
  </div>
