<div class="notes mx-5 my-2">
  <span class="icon-container">
    <i class="fas fa-exclamation-circle"></i>
    <span class="icon-text">Before you begin</span>
  </span>
  <!-- <h4><span class="font-weight-bolder" style="color: red;">* </span>Note please check your english grammar for
    best results</h4> -->
  <h4><span class="font-weight-bolder" style="color: red;">* </span>Your data is your data : you have full control over
    your data and the assurance that it will not be shared with any third party.</h4>
</div>

<mat-stepper *ngIf="flagTable" linear #stepper class="mt-5" labelPosition="bottom"
  [orientation]="(stepperOrientation | async)!" animationDuration="1300">
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable" class="">
    <div class="m-auto">
      <form [formGroup]="firstFormGroup" class="box">
        <ng-template matStepLabel>Project Info</ng-template>
        <mat-form-field appearance="outline" class="w-100  position-relative" style="height: 22px;">
          <mat-label>Project Title</mat-label>
          <input (keydown.space)="preventSpaceAtBegging($event)" (keyup)="testt($event,'project_title',firstFormGroup)"
            matInput formControlName="project_title"
            placeholder="e.g XYZ is E- commerce project for  buying and selling of goods."
            spellcheck="true" required [readonly]="flag">
          <mat-error
            *ngIf="firstFormGroup.get('project_title')?.touched && firstFormGroup.get('project_title')?.hasError('required')">required</mat-error>
          <mat-error
            *ngIf="firstFormGroup.get('project_title')?.touched && firstFormGroup.get('project_title')?.hasError('maxlength')">max
            length 100 char</mat-error>
            <div class=" position-absolute right-0  d-flex" style="bottom: 5px; right: 0;">

              <div pTooltip="Translate" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="translate-button" 
                  (click)="translateCorrectSer($event,firstFormGroup.get('project_title')?.value,'TranslateFromArabicToEnglish')">
                  <mat-icon>translate</mat-icon>
                </button>
              </div>
  
              <div pTooltip="Grammer Correct" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="correct-button" 
                  (click)="translateCorrectSer($event,firstFormGroup.get('project_title')?.value,'CorrectSpellingInText')">
                  <mat-icon>spellcheck</mat-icon>
                </button>
              </div>
  
            </div>
        </mat-form-field>
        <mat-form-field *ngIf="false" appearance="outline" class="w-100 " >
          <mat-label>Select Project type</mat-label>
          <mat-select formControlName="projectType" placeholder="Project type" required>
            <mat-option value="Desktop">Desktop</mat-option>
            <mat-option value="Web">Web</mat-option>
            <mat-option value="Mobile">Mobile</mat-option>
          </mat-select>
          <mat-error>required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-3 position-relative">
          <mat-label>Project description & Actors</mat-label>
          <textarea rows="10" (keydown.space)="preventSpaceAtBegging($event)"
            (keyup)="testt($event,'desc',firstFormGroup)" matInput formControlName="desc"
            placeholder="e.g.  This project is a web application that will allow users to create and share events. Users will be able to create events including details such as date, time, location, and description. They will also be able to invite other users to their events. Actors: 1. User: A registered user of the application who can create, view, and manage their own events. 2. Event Host: A registered user who can create and host events to which other users can be invited. 3. Invitee: A user who is invited to an event by an Event Host. 4. Admin: A privileged user who can manage and control the application."
            required [readonly]="flag"></textarea>
          <mat-error
            *ngIf="firstFormGroup.get('desc')?.touched && firstFormGroup.get('desc')?.hasError('required')">required</mat-error>
          <mat-error
            *ngIf="firstFormGroup.get('desc')?.touched && firstFormGroup.get('desc')?.hasError('maxlength')">max length
            2000 char</mat-error>
          <div class=" position-absolute right-0 d-flex" style="bottom: 10px; right: 0;">

            <div pTooltip="Translate" tooltipPosition="top" (click)="onOptionClick($event)">
              <button mat-icon-button class="translate-button" 
                (click)="translateCorrectSer($event,firstFormGroup.get('desc')?.value,'TranslateFromArabicToEnglish')">
                <mat-icon>translate</mat-icon>
              </button>
            </div>

            <div pTooltip="Grammer Correct" tooltipPosition="top" (click)="onOptionClick($event)">
              <button mat-icon-button class="correct-button" 
                (click)="translateCorrectSer($event,firstFormGroup.get('desc')?.value,'CorrectSpellingInText')">
                <mat-icon>spellcheck</mat-icon>
              </button>
            </div>

          </div>
        </mat-form-field>
        <div class="d-flex justify-content-end">
          <button mat-button matStepperNext class="btn btn-success m-3" matStepperNext>Next</button>
        </div>
      </form>
    </div>
  </mat-step>
  <!-- <mat-step [editable]="isEditable">
        <div>
          <button mat-button matStepperPrevious class="btn btn-danger m-3" >Back</button>
          <button mat-button matStepperNext class="btn btn-success m-3" >Next</button>
        </div>
    </mat-step> -->
  <mat-step [stepControl]="sh? userStoryForm1:useCaseForm2" [editable]="isEditable">
    <ng-template matStepLabel>Test Case Info</ng-template>
    <div class="mx-auto box mt-3">
      <form [formGroup]="thirdFormMain" class="">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select Test Case Techniques</mat-label>
          <mat-select formControlName="testing_technique" placeholder="Project type" required>
            <mat-option  (click)="onOptionClick($event)" value="bva"><i
                 class="fas fa-solid fa-crown" style="    width: 39px;
                  height: 36px;
                  color: #fca120;
                  font-size: 26px;"></i>
              Boundary Value Analysis (BVA) </mat-option>
            <mat-option  (click)="onOptionClick($event)" value="dt"><i
                 class="fas fa-solid fa-crown" style="    width: 39px;
                  height: 36px;
                  color: #fca120;
                  font-size: 26px;"></i>Decision Tables </mat-option>
                  <!-- <mat-option [disabledh]="!example?.subscripted" (click)="onOptionClick($event)" value="dt"><i
                    *ngIft="!example?.subscripted" class="fas fa-solid fa-crown" style="    width: 39px;
                      height: 36px;
                      color: #fca120;
                      font-size: 26px;"></i>Decision Tables </mat-option> -->
            <mat-option  (click)="onOptionClick($event)" value="ep"><i
                 class="fas fa-solid fa-crown" style="    width: 39px;
                  height: 36px;
                  color: #fca120;
                  font-size: 26px;"></i>Equivalence partitioning</mat-option>
            <mat-option  (click)="onOptionClick($event)" value="stt"><i
                 class="fas fa-solid fa-crown" style="    width: 39px;
                  height: 36px;
                  color: #fca120;
                  font-size: 26px;"></i>State Transition Testing</mat-option>
            <mat-option value="rf">Requirements format</mat-option>
          </mat-select>
          <mat-error>required</mat-error>
        </mat-form-field>
      </form>
      <label>
        <input [value]="1" [(ngModel)]="sh" name="sh" type="radio" [checked]="isChecked" required /> User Story
      </label>
      <label>
        <input class="ml-3" [value]="0" [(ngModel)]="sh" name="sh" type="radio" [checked]="!isChecked" /> Use Case
      </label>
      <form *ngIf="sh == 1" [formGroup]="userStoryForm1" class="">
        <ng-template matStepLabel>Testing Technique</ng-template>
        <mat-form-field appearance="outline" class="w-100 position-relative">
          <mat-label>User Story Title</mat-label>
          <input (keydown.space)="preventSpaceAtBegging($event)" (keyup)="testt($event,'use_case_title',userStoryForm1)"
            matInput formControlName="use_case_title" placeholder="e.g. Creating an Online Shopping Experience"
            spellcheck="true" required>
          <mat-error
            *ngIf="userStoryForm1.get('use_case_title')?.touched && userStoryForm1.get('use_case_title')?.hasError('required')">required</mat-error>
          <mat-error
            *ngIf="userStoryForm1.get('use_case_title')?.touched && userStoryForm1.get('use_case_title')?.hasError('maxlength')">max
            length 100 char</mat-error>

            <div class=" position-absolute right-0 d-flex" style="bottom: 5px;  right: 0;">

              <div pTooltip="Translate" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="translate-button" 
                  (click)="translateCorrectSer($event,userStoryForm1.get('use_case_title')?.value,'TranslateFromArabicToEnglish')">
                  <mat-icon>translate</mat-icon>
                </button>
              </div>
  
              <div pTooltip="Grammer Correct" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="correct-button" 
                  (click)="translateCorrectSer($event,userStoryForm1.get('use_case_title')?.value,'CorrectSpellingInText')">
                  <mat-icon>spellcheck</mat-icon>
                </button>
              </div>
  
            </div>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 position-relative">
          <mat-label>As a</mat-label>
          <input (keydown.space)="preventSpaceAtBegging($event)" (keyup)="testt($event,'as_a',userStoryForm1)" matInput
            formControlName="as_a"
            placeholder="As a 	e.g John Doe is a customer who needs to purchase a product from a store. 	"
            spellcheck="true" required>
          <mat-error
            *ngIf="userStoryForm1.get('as_a')?.touched && userStoryForm1.get('as_a')?.hasError('required')">required</mat-error>
          <mat-error
            *ngIf="userStoryForm1.get('as_a')?.touched && userStoryForm1.get('as_a')?.hasError('maxlength')">max length
            100 char</mat-error>
            <div class=" position-absolute right-0 d-flex" style="bottom: 5px;  right: 0;">

              <div pTooltip="Translate" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="translate-button" 
                  (click)="translateCorrectSer($event,userStoryForm1.get('as_a')?.value,'TranslateFromArabicToEnglish')">
                  <mat-icon>translate</mat-icon>
                </button>
              </div>
  
              <div pTooltip="Grammer Correct" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="correct-button" 
                  (click)="translateCorrectSer($event,userStoryForm1.get('as_a')?.value,'CorrectSpellingInText')">
                  <mat-icon>spellcheck</mat-icon>
                </button>
              </div>
  
            </div>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-1 position-relative">
          <mat-label>I want</mat-label>
          <textarea (keydown.space)="preventSpaceAtBegging($event)" (keyup)="testt($event,'i_want',userStoryForm1)"
            rows="10" matInput spellcheck="true" formControlName="i_want"
            placeholder="e.g. Users will be able to browse items posted by other users, or create their own listings to sell their own items. They will have the option to search for specific items, and filter results by category, price, location, and other criteria. Payment for items will be handled securely through the platform, and users will be able to rate and review each other after a transaction is completed. The platform will also provide support for users who experience issues with their purchases"
            required></textarea>
          <mat-error
            *ngIf="userStoryForm1.get('i_want')?.touched && userStoryForm1.get('i_want')?.hasError('required')">required</mat-error>
          <mat-error
            *ngIf="userStoryForm1.get('i_want')?.touched && userStoryForm1.get('i_want')?.hasError('maxlength')">max
            length 3000 char</mat-error>

            <div class=" position-absolute right-0 d-flex" style="bottom: 10px; right: 0;">

              <div pTooltip="Translate" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="translate-button" 
                  (click)="translateCorrectSer($event,userStoryForm1.get('i_want')?.value,'TranslateFromArabicToEnglish')">
                  <mat-icon>translate</mat-icon>
                </button>
              </div>
  
              <div pTooltip="Grammer Correct" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="correct-button" 
                  (click)="translateCorrectSer($event,userStoryForm1.get('i_want')?.value,'CorrectSpellingInText')">
                  <mat-icon>spellcheck</mat-icon>
                </button>
              </div>
  
            </div>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-1 position-relative">
          <mat-label>So That</mat-label>
          <textarea (keydown.space)="preventSpaceAtBegging($event)" (keyup)="testt($event,'so_that',userStoryForm1)"
            rows="10" matInput spellcheck="true" formControlName="so_that"
            placeholder="e.g. The user has an account with the system and has logged in. The user is logged in to the system"
            required></textarea>
          <mat-error
            *ngIf="userStoryForm1.get('so_that')?.touched && userStoryForm1.get('so_that')?.hasError('required')">required</mat-error>
          <mat-error
            *ngIf="userStoryForm1.get('so_that')?.touched && userStoryForm1.get('so_that')?.hasError('maxlength')">max
            length 2200 char</mat-error>
            <div class=" position-absolute right-0 d-flex" style="bottom: 10px; right: 0;">

              <div pTooltip="Translate" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="translate-button" 
                  (click)="translateCorrectSer($event,userStoryForm1.get('so_that')?.value,'TranslateFromArabicToEnglish')">
                  <mat-icon>translate</mat-icon>
                </button>
              </div>
  
              <div pTooltip="Grammer Correct" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="correct-button" 
                  (click)="translateCorrectSer($event,userStoryForm1.get('so_that')?.value,'CorrectSpellingInText')">
                  <mat-icon>spellcheck</mat-icon>
                </button>
              </div>
  
            </div>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-1 position-relative">
          <mat-label>User Flow</mat-label>
          <textarea (keydown.space)="preventSpaceAtBegging($event)" rows="10" matInput spellcheck="true"
            (keyup)="testt($event,'user_flow',userStoryForm1)" formControlName="user_flow" placeholder="e.g. 1. User opens application
                2. User selects desired feature 
                3. System presents user with options for feature
                4. User makes selections
                5. System processes selections
                6. System presents user with results
                7. User exits application
                " required></textarea>
          <mat-error
            *ngIf="userStoryForm1.get('user_flow')?.touched && userStoryForm1.get('user_flow')?.hasError('required')">required</mat-error>
          <mat-error
            *ngIf="userStoryForm1.get('user_flow')?.touched && userStoryForm1.get('user_flow')?.hasError('maxlength')">max
            length 2500 char</mat-error>
            <div class=" position-absolute right-0 d-flex" style="bottom: 10px; right: 0;">

              <div pTooltip="Translate" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="translate-button" 
                  (click)="translateCorrectSer($event,userStoryForm1.get('user_flow')?.value,'TranslateFromArabicToEnglish')">
                  <mat-icon>translate</mat-icon>
                </button>
              </div>
  
              <div pTooltip="Grammer Correct" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="correct-button" 
                  (click)="translateCorrectSer($event,userStoryForm1.get('user_flow')?.value,'CorrectSpellingInText')">
                  <mat-icon>spellcheck</mat-icon>
                </button>
              </div>
  
            </div>
        </mat-form-field>

      </form>
      <form *ngIf="sh == 0 " [formGroup]="useCaseForm2" class="">
        <ng-template matStepLabel>Project Data</ng-template>
        <mat-form-field appearance="outline" class="w-100 position-relative">
          <mat-label>Use Case Title</mat-label>
          <input (keydown.space)="preventSpaceAtBegging($event)" matInput formControlName="use_case_title"
            (keyup)="testt($event,'use_case_title',useCaseForm2)" placeholder="use_case_title" spellcheck="true"
            required>
          <mat-error
            *ngIf="useCaseForm2.get('use_case_title')?.touched && useCaseForm2.get('use_case_title')?.hasError('required')">required</mat-error>
          <mat-error
            *ngIf="useCaseForm2.get('use_case_title')?.touched && useCaseForm2.get('use_case_title')?.hasError('maxlength')">max
            length 100 char</mat-error>

            <div class=" position-absolute right-0 d-flex" style="bottom: 5px;right: 0;" >

              <div pTooltip="Translate" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="translate-button" 
                  (click)="translateCorrectSer($event,useCaseForm2.get('use_case_title')?.value,'TranslateFromArabicToEnglish')">
                  <mat-icon>translate</mat-icon>
                </button>
              </div>
  
              <div pTooltip="Grammer Correct" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="correct-button" 
                  (click)="translateCorrectSer($event,useCaseForm2.get('use_case_title')?.value,'CorrectSpellingInText')">
                  <mat-icon>spellcheck</mat-icon>
                </button>
              </div>
  
            </div>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Actor</mat-label>
          <input (keydown.space)="preventSpaceAtBegging($event)" matInput (keyup)="testt($event,'actor',useCaseForm2)"
            formControlName="actor"
            placeholder="e.g John Doe is a customer who needs to purchase a product from a store. " spellcheck="true"
            required>
          <mat-error
            *ngIf="useCaseForm2.get('actor')?.touched && useCaseForm2.get('actor')?.hasError('required')">required</mat-error>
          <mat-error *ngIf="useCaseForm2.get('actor')?.touched && useCaseForm2.get('actor')?.hasError('maxlength')">max
            length 100 char</mat-error>
            <div class=" position-absolute right-0 d-flex" style="bottom: 5px;right: 0;" >

              <div pTooltip="Translate" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="translate-button" 
                  (click)="translateCorrectSer($event,useCaseForm2.get('actor')?.value,'TranslateFromArabicToEnglish')">
                  <mat-icon>translate</mat-icon>
                </button>
              </div>
  
              <div pTooltip="Grammer Correct" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="correct-button" 
                  (click)="translateCorrectSer($event,useCaseForm2.get('actor')?.value,'CorrectSpellingInText')">
                  <mat-icon>spellcheck</mat-icon>
                </button>
              </div>
  
            </div>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-1 position-relative">
          <mat-label>Use Case Description</mat-label>
          <textarea (keydown.space)="preventSpaceAtBegging($event)"
            (keyup)="testt($event,'use_case_description',useCaseForm2)" rows="10" spellcheck="true" matInput
            formControlName="use_case_description"
            placeholder="e.g. Users will be able to browse items posted by other users, or create their own listings to sell their own items. They will have the option to search for specific items, and filter results by category, price, location, and other criteria. Payment for items will be handled securely through the platform, and users will be able to rate and review each other after a transaction is completed. The platform will also provide support for users who experience issues with their purchases"
            required></textarea>
          <mat-error
            *ngIf="useCaseForm2.get('use_case_description')?.touched && useCaseForm2.get('use_case_description')?.hasError('required')">required</mat-error>
          <mat-error
            *ngIf="useCaseForm2.get('use_case_description')?.touched && useCaseForm2.get('use_case_description')?.hasError('maxlength')">max
            length 2000 char</mat-error>
            <div class=" position-absolute right-0 d-flex" style="bottom: 10px; right: 0;">

              <div pTooltip="Translate" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="translate-button" 
                  (click)="translateCorrectSer($event,useCaseForm2.get('use_case_description')?.value,'TranslateFromArabicToEnglish')">
                  <mat-icon>translate</mat-icon>
                </button>
              </div>
  
              <div pTooltip="Grammer Correct" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="correct-button" 
                  (click)="translateCorrectSer($event,useCaseForm2.get('use_case_description')?.value,'CorrectSpellingInText')">
                  <mat-icon>spellcheck</mat-icon>
                </button>
              </div>
  
            </div>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-1 position-relative">
          <mat-label>Pre Conditions</mat-label>
          <textarea (keydown.space)="preventSpaceAtBegging($event)" rows="10" spellcheck="true"
            (keyup)="testt($event,'preconditions',useCaseForm2)" matInput formControlName="preconditions" required
            placeholder="e.g. The user has an account with the system and has logged in. The user is logged in to the system"></textarea>
          <mat-error
            *ngIf="useCaseForm2.get('preconditions')?.touched && useCaseForm2.get('preconditions')?.hasError('required')">required</mat-error>
          <mat-error
            *ngIf="useCaseForm2.get('preconditions')?.touched && useCaseForm2.get('preconditions')?.hasError('maxlength')">max
            length 1000 char</mat-error>
            <div class=" position-absolute right-0 d-flex" style="bottom: 10px; right: 0;">

              <div pTooltip="Translate" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="translate-button" 
                  (click)="translateCorrectSer($event,useCaseForm2.get('preconditions')?.value,'TranslateFromArabicToEnglish')">
                  <mat-icon>translate</mat-icon>
                </button>
              </div>
  
              <div pTooltip="Grammer Correct" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="correct-button" 
                  (click)="translateCorrectSer($event,useCaseForm2.get('preconditions')?.value,'CorrectSpellingInText')">
                  <mat-icon>spellcheck</mat-icon>
                </button>
              </div>
  
            </div>
        </mat-form-field>
        <mat-form-field spellcheck="true" appearance="outline" class="w-100 mt-1 position-relative">
          <mat-label>Flow</mat-label>
          <textarea (keydown.space)="preventSpaceAtBegging($event)" rows="10" matInput
            (keyup)="testt($event,'flow',useCaseForm2)" formControlName="flow" required placeholder="e.g. 1. User opens application
                2. User selects desired feature 
                3. System presents user with options for feature
                "></textarea>
          <mat-error
            *ngIf="useCaseForm2.get('flow')?.touched && useCaseForm2.get('flow')?.hasError('required')">required</mat-error>
          <mat-error *ngIf="useCaseForm2.get('flow')?.touched && useCaseForm2.get('flow')?.hasError('maxlength')">max
            length 4700 char</mat-error>
            <div class=" position-absolute right-0 d-flex" style="bottom: 10px; right: 0;">

              <div pTooltip="Translate" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="translate-button" 
                  (click)="translateCorrectSer($event,useCaseForm2.get('flow')?.value,'TranslateFromArabicToEnglish')">
                  <mat-icon>translate</mat-icon>
                </button>
              </div>
  
              <div pTooltip="Grammer Correct" tooltipPosition="top" (click)="onOptionClick($event)">
                <button mat-icon-button class="correct-button" 
                  (click)="translateCorrectSer($event,useCaseForm2.get('flow')?.value,'CorrectSpellingInText')">
                  <mat-icon>spellcheck</mat-icon>
                </button>
              </div>
  
            </div>
        </mat-form-field>
      </form>
      <div class="d-flex justify-content-end">
        <button class="btn btn-danger m-3" [disabled]="stepper.selectedIndex === 0" mat-button (click)="goBack(stepper)"
          type="button">Back</button>
        <button mat-button matStepperNext class="btn btn-success m-3"
          (click)="goForwardToComplet(stepper)">Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Complete</ng-template>
    <div class="d-flex align-items-center justify-content-center flex-column mb-3">
      <h4 style="color: #17a2b8; padding: 10px 10px; font-size: 17px;">You are now done.</h4>
      <div class="d-flex justify-content-end">
        <button mat-button matStepperPrevious class="btn btn-danger m-3">Back</button>
        <button type="button" class="btn btn-info  m-3 " (click)="resetWizard();" style=" width: 93px;
          text-align: center;
          font-size: 19px;
          font-weight: 500;
          letter-spacing: 2px;"> Fly</button>
        <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
      </div>
    </div>
  </mat-step>
</mat-stepper>

<div class="listBox" *ngIf="!flagTable">
  <div class="table-responsive" id="print-section">
    <!-- thirdFormMain.value. -->
    <table *ngIf="thirdFormMain.value.testing_technique !='rf'" class="table table-hover " #table>
      <thead>
        <tr class=" text-white text-light">
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr class=" border" *ngFor="let data of result  ;let index=index" style="text-align: left;">
          <td class="disable-text-selection">{{data}}</td>
        </tr>
      </tbody>
    </table>
    <table *ngIf="thirdFormMain.value.testing_technique =='rf'"  class="table table-hover " #tablerf>
      <thead>
        <tr class=" text-white text-light">
          <th *ngFor="let head of result[0]  ;let index=index">{{head}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border" *ngFor="let data of result.slice(1); let i = index" style="text-align: left;">
          <td class="disable-text-selection" *ngFor="let itemData of data; let x = index">{{ itemData }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="btns mr-0">
    <button class="btn btn-success m-2 p-1" (click)="fireEvent()">Export to Excel</button>
    <button class="btn btn-info m-2 p-1" (click)="back()">Go to Profile</button>
    <button class="btn btn-warning  m-2 p-1"  (click)="feedback()">We’d love your feedback</button>
  </div>
</div>