.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  
  .box {
    z-index: 5;
    margin:20px auto;
    width: 60%;
    padding: 50px 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(202, 37, 16, 0.3); 

  }
  .disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h4{
  color: #17a2b8;
}
// 
  ::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}
@media screen  and (max-width: 900px) {
  .box {
    width: 80%;
  }
}

.icon-container {
  display: flex;
  align-items: center;
  background-color: #ffc107;
  color: white;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 16px;
}

.icon-container i {
  font-size: 20px;
  margin-right: 8px;
}

.icon-text {
  font-weight: bold;
  font-size: 18px;
}




.instructions {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;

  align-items: center;
  padding: 16px;
}


/* Customize the alert container */
.custom-alert {
  background-color: #f2f2f2;
  color: #333;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 25px;
}

/* Customize the close button */
.custom-alert .mat-snack-bar-action {
  color: #666;
  font-weight: bold;
}

/* Customize the text color */
.custom-alert .mat-simple-snackbar-action {
  color: #ff5722;
}
.custom-button {
  background-color: #eaeaea;
  color: #333;
  margin-right: 10px;
}


.translate-button {
  background-color: #4285f4;
  color: #fff;
  margin-right: 10px;
  border-radius: 50%;
  padding: 1px;
  transition: background-color 0.3s ease;
}

.translate-button:hover {
  background-color: #3367d6;
}

.correct-button {
  background-color: #f44336;
  color: #fff;
  margin-right: 10px;
  border-radius: 50%;
  padding: 1px;
  transition: background-color 0.3s ease;
}

.correct-button:hover {
  background-color: #d32f2f;
}

