<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mx-5" href="https://casesfly.ai/">
    <img src="./assets/logo.jpeg" draggable="false" alt="Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      
      
      <li class="nav-item mx-3">
        <a class="nav-link" href="https://casesfly.ai/" target="_blank" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-home"></i> Home</a>
      </li>

      <li class="nav-item mx-3">
        <a class="nav-link" routerLink="./profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> <i class="fas fa-user"></i> Profile</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="https://casesfly.ai/support-center/" target="_blank"><i class="fas fa-solid fa-headset"></i>
          Create Tickets</a>
      </li>  
      <li class="nav-item mx-3">
        <a class="nav-link" href="https://casesfly.ai/rate-win/" target="_blank"><i class="fas fa-gift animated-icon pulse"></i> <span class="animated-span px-2">Gift</span> </a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link">  
          {{user.name}}
        </a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="https://casesfly.ai/wp-login.php?action=logout" ><i class="fas fa-sign-out-alt"></i>  Log Out</a>
      </li> 
    </ul>
  </div>
</nav>