<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mx-5" href="https://casesfly.ai/">
    <img src="./assets/logo.jpeg" draggable="false" alt="Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item mx-3">
        <a class="nav-link" routerLink="./ai" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true} "[class.disabled]=" true" >Home</a>
      </li> -->

      <li class="nav-item mx-3">
        <a class="nav-link" routerLink="./profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Profile</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="https://casesfly.ai/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link">
          {{user.name}}
        </a>
      </li>
    </ul>
  </div>
</nav>