.navbar-expand-lg {
  background-color: #3b82f6;
}

.navbar-toggler-icon {
  background-color: #000;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  padding: 0 15px;
}

.navbar-brand {
  color: #fff;
}



// .auth {
//   margin: 0;
//   padding: 0;
//   display: flex;
//   li {
//     list-style: none;

//     a {
//       color: #fff;
//       padding: 0px 15px;
//     }
//   }
// }
