  
@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}
button {
    color: #FFF;
    margin: 0 5px;
    &.addTask {
        background-color: #ca085a;
        color: #FFF;
        padding: 2px 23px;
        font-size: 20px;
    }
}


:host ::ng-deep {
    table {
        thead {
            background-color: #bc1059!important;
            .mat-header-cell {
                color: #FFF;
            }
        }
    }
}

.w-20 {
    width: 20%!important;
}
