.mat-form-field {
    margin-right: 4px;
  }
  .addbtn {
    color: #FFF;
    margin: 0 5px;
    background-color: #63e38a!important;
    // rgb(28, 146, 28)!important;
    color: #fff;
    padding: 2px 23px;
    font-size: 20px;
    height: 42px;
    margin-top: 7px;
}

button{
  transition: all .4s;
  border-radius: 13px;
}
button:hover{
  border-radius: 30px;
}
.hovver{
  transition: all .3S;
}
.hovver:hover{
  transform: scaleY(1.2);
  background-color: #eee;
}
@media screen and (max-width: 992px){
  .subs{
    order: -1;
    margin-bottom: 20px;
  }
}
.service-item {
  padding-left: 60px;
  margin: 8px 0px;
  border-radius: 20px;
  box-sizing: border-box;
  transition: all .5s;
  border: 1px solid transparent;
  height: 200px;
  border: 1px solid #17a2b8!important;;
  color: #17a2b8!important;
  float: right;
}


.service-item h4 {
  color: #17a2b8!important;;
}

.service-item p {
  /* color: #666;
  margin: 0 0 20px;
  font-size: 17px;
  line-height: 1.75rem; */
  line-height: 34px;
  color: #2e2c2c;

}



.tutorial-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.tutorial-btn:hover {
  background-color: #0062cc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
