<div class="container mt-5">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-6">
        <div class="shadow p-2 rounded mb-3" >
            <div class="right">
              <h3 style="font-size: 22px;" class= "mt-0 text-info font-weight">Add New Test Plan</h3>
            </div>
            <div class="parennt d-flex  justify-content-center  my-4">
              <form [formGroup]="testPlanForm" class=" w-100" >
                <mat-form-field appearance="outline" class="w-100 rounded " style="border-radius: 20px !important">
                  <mat-label>new test plan</mat-label>
                  <input matInput  formControlName="name" currencyMask type="text" #testplan placeholder="Test Plan" required>
                </mat-form-field>
                <div class="d-flex justify-content-end">
                  <button class="btn ml-4 addbtn" (click)="addTestPlane(testplan.value)" >Add Test Plan</button>
                </div>
              </form>
            </div>
         </div>
         <div class="right">
          <h3 style="font-size: 22px;" class= "mt-0 text-info font-weight">List Test Plans</h3>
        </div>
        <ul *ngIf="tree.length!= 0 " >
          <li *ngFor="let folder of tree  ;let index=index">
            <div class="d-flex">
              <button mat-icon-button (click)="expandList($event, index)" [id]="index+'btn'" class="bg-light border border-info  mx-2 d-flex justify-content-center align-items-center"><i
                  class="fa-solid fa-arrow-right-long"></i></button>
              <p class="p-2 " style="font-size: 18px; font-weight: 500;">{{folder.name}}</p> 
              <button mat-icon-button (click)="addTestCase(index)"><mat-icon>add</mat-icon></button>
            </div>
            <div class="addneww d-none pl-5 " [id]="index+'test'">
              <form [formGroup]="testCaseForm" class=" w-100" >
                <mat-form-field appearance="outline" class="w-100 rounded " style="border-radius: 20px !important">
                  <mat-label>new test plan</mat-label>
                  <input matInput  formControlName="name" currencyMask type="text"  #itemValue placeholder="Ex. login" required>
                </mat-form-field>
                <div class="d-flex justify-content-end">
                  <button class="btn btn-info p-1 " mat-button (click)="saveNode(itemValue.value ,index)">Save test case</button>
                </div>
              </form>
            </div>
            <ul *ngIf="folder.testcases.length!=0" class="ml-5  my-2 d-none rounded " [id]="index+'testCases'" style="width: 92%;">
              <li *ngFor="let testCases of folder.testcases;let i=index" class="my-2 p-2 shadow text-dark hovver mx-auto" style="width: 94%; ">
               <p style="font-size: 17px;">{{testCases.name}}</p> 
              </li>

            </ul>
           
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div *ngIf="userDate" class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin"
                class="rounded-circle p-1 bg-primary" width="110" />
              <div class="mt-3">
                <h4>{{userDate?.name}}</h4>
                <p class="text-secondary my-1">{{userDate?.email}}</p>
               
                <!-- <button class="btn btn-primary m-2">Follow</button>
                <button class="btn btn-outline-primary m-2">Message</button> -->
              </div>
            </div>
            <hr class="my-4" />
          </div>
        </div>
      </div>
    </div>
  </div>