<div class="container mt-5">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-6">
        <div class="d-flex">
          <mat-form-field appearance="outline" class="w-25 rounded" style="border-radius: 20px !important">
            <mat-label>new test plane</mat-label>
            <input matInput currencyMask type="text" #testplan placeholder="Test Plane">
          </mat-form-field>
          <button mat-flat-button class="btn btn-success  mx-2 px-3 py-1"
            (click)="addTestPlane(testplan.value)">Create</button>
        </div>

        <ul>
          <li *ngFor="let folder of tree  ;let index=index">
            <button mat-icon-button (click)="expandList($event, index)" [id]="index+'btn'"><i
                class="fa-solid fa-arrow-right-long"></i></button>
            {{folder.name}}
            <button mat-icon-button (click)="addTestCase(index)"><mat-icon>add</mat-icon></button>
            <ul *ngIf="folder.testCases.length>0" class="pl-5 d-none" [id]="index+'testCases'">
              <li *ngFor="let testCases of folder.testCases  ;let i=index">
                {{testCases.name}}
              </li>

            </ul>
            <div class="addneww d-none" [id]="index+'test'">
              <mat-form-field appearance="fill">
                <mat-label>New item...</mat-label>
                <input matInput #itemValue placeholder="Ex. Lettuce">
              </mat-form-field>
              <button mat-button (click)="saveNode(itemValue.value ,index)">Save</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin"
                class="rounded-circle p-1 bg-primary" width="110" />
              <div class="mt-3">
                <h4>John Doe</h4>
                <p class="text-secondary mb-1">Full Stack Developer</p>
                <p class="text-muted font-size-sm">
                  Bay Area, San Francisco, CA
                </p>
                <button class="btn btn-primary">Follow</button>
                <button class="btn btn-outline-primary">Message</button>
              </div>
            </div>
            <hr class="my-4" />

          </div>
        </div>
      </div>
    </div>
  </div>